* body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f9fb;
  padding: 40px;
  color: #333;
  display: block;
}

/* LEFT PANEL */

h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  color: #2c3e50;
}

details {
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  margin-left: 0;
  margin-right: auto;
  max-width: 700px;
  overflow: hidden;
  transition: all 0.3s ease;
}

summary {
  padding: 20px 25px;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #eaf0f6;
  cursor: pointer;
  list-style: none;
}

summary::marker {
  display: none;
}

summary:hover {
  background-color: #d8e4f0;
}

.time {
  font-size: 3em;
}
button {
  font-size: 1.5em;
  margin: 10px;
}
