{% extends 'layout.html' %} {% block content %}
<h1 class="display-1">DyslexiaEase</h1>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      <h2 class="mb-4">Welcome to DyslexiaEase</h2>
      <p class="lead mb-4">
        Ready to start studying? Click the button below to begin your learning
        journey.
      </p>
      <div class="mb-4">
        <a href="/subjects" class="btn btn-primary btn-lg">Study Mode</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
